h1{
    margin: 5px;
    margin-bottom: 3px;
    margin-left: 20px;
}
.time{
    background-color: transparent;
    color: rgb(83, 83, 83);
}

@media (max-width: 768px) {
    h1{
        margin-bottom: 40px;
    }
}