.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #b3b3b3;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.pfooter {
  margin: 0;
  font-size: 0.9rem;
}

.footer-link {
  color: #007bff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
