
.top-quotes {
  padding: 20px;
}

.quote-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quote-card {
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 6px 20px 4px rgba(89, 0, 255, 0.082); /* Ajustado */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-btn {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #7115da;
  transition: color 0.3s;
}

.copy-btn:hover {
  color: #5a11b2;
}

